<h1 class="ui header">People</h1>
<div class = "ui button">
<i class="user icon"></i><%= link_to 'New Person', new_person_path %>
</div>
<div class="ui divider"></div>

<div class="ui grid">
  <% @people.each do |person| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
            <img src="<%= person.avatar %>" />
        </div>
        <div class="content">
          <%= link_to "#{person.name}", person, class: "header" %>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">
              <%= link_to 'Edit', edit_person_path(person) %>
            </div>
            <div class="ui basic red button">
              <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>