<div class = "ui card">
  <div class ="image">
    <img src = "<%=@person.avatar%>" />
  </div>
  <div class = "content">
      <p class="header">
        <%= @person.name %>
      </p>
      <div class = "description">
        <%= @person.email %>
      </div>
  </div>

  <div class = "extra content">
   <%= link_to "Edit", edit_person_path(@person) %>  |
   <%= link_to "Back", people_path %>
</div>